@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;502;550;600;700;800;900&display=swap');

@import "includes/color";
@import "includes/header";
@import "includes/home";
@import "includes/owl-custom";
@import "includes/addons";
@import "includes/banner";
@import "includes/special-deal";
@import "includes/top-selling";
@import "includes/top-feat";
@import "includes/new-arrival";
@import "includes/recomend";
@import "includes/footer";
@import "includes/newsletter";
@import "includes/bootsrapcustom";
@import "includes/shoppingcart";


body{
    position: relative;
}

::-webkit-scrollbar{
    width: 5px;
    background: $k2;
    display: none;
}

a{
    text-decoration: none;
}
a,h1,h2,h3,h4,h5,h6,p{
    margin: 0  ;
}
body{
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    // overflow-x: hidden;
}

.cont-ainer{
    padding: 0px 20px;

    @media (max-width:400px) {
        padding:0px 5px;
    }
}






main{
    margin: 0 !important;
    width: 100vw;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}


input{
    box-shadow: none !important;
}

