.Addons{
    background: $k3;
    padding: 40px 0px;
    .cont-ainer{
        .row{

            .bdr{
                position: relative;

                &::after{
                    @media (max-width:900px) {
                        display: none;
                    }
                    content: '';
                    background-color: rgba($k6, 0.1);
                    width: 1px;
                    height: 60%;
                    position: absolute;
                    display: block;
                    left: 100%;
                    transform: translateX(-100%);
                    transform: translateY(-50%);
                    top:50%;
                }
            }

            .item{
                @media (max-width:900px) {
                    justify-content: unset;
                    margin-bottom: 20px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                // margin: 0 !important;
                padding: 0px !important ;
                .cont{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 10px;
                    .igm{
                        margin-right: 17px;
                        img{
                            width: 50px;
                            height: 50px;
                            object-fit: contain;

                        }
                    }
                    .wrd{
                        display: flex;
                        flex-direction: column;
                        h5{
                            font-size: 13px;
                            font-weight: 500;
                            color: $k5;
                        }
                        p{
                            font-size: 13px;
                            font-weight: 400;
                            color: $k6;
                        }
                    }
                }

            }
        }
    }
}




// signup modal 

        .cust-om{
            form{
                input{
                    height: 50px !important;
                    border: 1px solid #ddd !important; 
                }
                .actn{
                    background: $k2;
                    font-weight: 500;
                    margin-top: 20px;
                }
                .line{
                    width: 100%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        z-index: 10;
                        font-size:12px;
                        background: $k3;
                        height: 20px;
                        width: 20px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        border-radius: 50%;
                    }
                    &::after{
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        content: '';
                        display: block;
                        top:50%;
                        transform: translateY(-50%);
                        background:#ddd ;
                    }
                }
            }
            .subt{
                margin-top:15px;
                border: none;
                box-shadow: none;
                width: 100%;
                height: 50px;
                background: $k1;
                color: $k3;
                transition: all ease-in-out .5s;
                &:hover{
                    background: $k2;
                    color: $k4;
                }
            }

        }




        // mobile navigation


        .mobile-n{
            @media (min-width:800px) {
                display: none;
            }
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background: $k3;
            box-shadow: 0 0 12px #0000001f;
            border-radius: 20px 20px 0px 0px;
            z-index: 10;
            .cont-ainer{
                
                    .box{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 20px;
                        .item{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 5px 0px;
                            position: relative;
                            border: 0;
                            background: transparent;
                              .sup{
                                    position: absolute;
                                    top:3px;
                                    left: 20px;
                                    background: $k2 !important;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    p{
                                        font-size: 12px;
                                        color: $k4;
                                        align-self: center;
                                        justify-self: center;
                                        margin-top:2px ;
                                        font-weight: 600;
                                    }
                                }
                            i{
                                font-size:30px;
                                color:$k4;
                                position: relative;

                                
                            }
                        }
                        
                    }
            
            }

        }


