.recomend{
    background: $k10;
     border-top:1px solid rgba($k6,0.2);
    margin:50px 0px;
    padding:30px 0px;
    .cont-ainer{
        .head{
            display: flex;
            .left{
                h4{
                    font-size: 20px;
                    font-weight: 500;
                    position: relative;
                    width: fit-content;
                     &::after{
                        content: '';
                        width: 100%;
                        height:2px;
                        display: block;
                        background: $k7;
                        left: 0;
                        bottom: -8px;
                        position: absolute;
                    }
                }
            }
            .more-a{
                margin-left: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $k6;
                transition: all ease .4s;
                &:hover{
                    color: $k2;
                }
            }
        }
        .products{
            margin-top: 50px;
            .row{
                @media (max-width:1000px) {
                    grid-row-gap: 30px;
                }
                .item1{

                    .box{
                        padding:20px;
                        background: $k3;
                        padding-bottom: 0 !important;
                        display: flex;
                        @media (min-width:650px) and (max-width:999px) {
                            justify-content: center;
                            align-items: center;
                        }
                        @media (max-width:700px) {
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                        @media (min-width:1200px) {
                            justify-content: center;
                            align-items: center;
                            flex-direction: row;
                        }
                          position: relative;
                            .tag{
                                position: absolute;
                                top: 20px;
                                background: $k7;
                                border-radius: 4px;
                                color: $k3;
                                font-weight: 400;
                                padding: 2px 10px ;
                                left: 30px;
                                font-size: 12px;

                            }
                        .igm{
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                              @media (max-width:700px) {
                            width: 100%;
                        }
                    }
                    .dets{
                            @media (max-width:700px) {
                          width: 100%;
                      }
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            .pro-name{
                                color: $k9;
                                font-weight: 500;
                            }
                            .info{
                                color: $k6;
                                font-size: 14px;
                                margin-top: 20px;
                            }
                            .ratins{
                                margin-top: 15px;
                                display:none;
                            color: $k2;
                            i{
                                font-size: 20px;

                            }
                            }
                            .price{
                                display: flex;
                                margin-top: 10px;
                                .new{
                                    font-size: 16px;
                                    font-weight:500;
                                    color: $k7;
                                }
                                .old{
                                    text-decoration: line-through;
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: $k6;
                                    margin-left: 15px;
                                }
                            }
                            .sts-bar{
                                display: none;
                                margin-top: 15px;
                                .prog{
                                    display: flex;
                                    flex-direction: column;
                                    .bd{
                                        width: 100%;
                                        height: 6px;
                                        background: rgba($k6,0.1);
                                        
                                        border-radius: 5px;
                                        .slid{
                                            border-radius: 5px;
                                            width: 60%;
                                            height: 100%;
                                            background: $k7;
                                        }
                                    }
                                    .ct{
                                        display: flex;
                                        margin-top: 10px;

                                        .sd{
                                            font-size: 13px;
                                            display: block;
                                        }
                                        .av{
                                            font-size: 13px;
                                            margin-left: auto;
                                            display: block;
                                        }
                                    }
                                }
                            }
                            .eme{
                                display: flex;
                                margin-top: 30px;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                margin-bottom: 20px;
                                .hert{
                                    display: flex;
                                    padding: 10px;
                                    background: rgb(245,245,245);
                                    
                                     border-radius: 2px;
                                     border: 1px solid #e5e5e5;
                                     color:$k6;
                                      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
                                    &:hover{
                                        background: darken($k2, 5%);
                                    }
                                     i{
                                         font-size: 18px;
                                     }
                                }
                                .ad2cart{
                                    width: 100%;
                                    padding: 10px 20px;
                                    background: $k2;
                                    color: $k4;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 2px;
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-right: 15px;
                                    // opacity: 0;
                                    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
                                    &:hover{
                                        background: darken($k2, 5%);
                                    }
                                }
                            }
                        }
                    }
                }
                .item2{
                    .row{
                        // background: green;
                        .item-in{
                           
                            // background: red;\
                            margin-bottom: 20px;
                            .box{
                                 @media (min-width:1200px) {
                            justify-content: center;
                            align-items: center;
                            flex-direction: row;
                        }
                                 position: relative;
                                 @media (max-width:1000px) {
                                     display: flex;
                                     justify-content: center;
                                     align-items: center;
                                 }
                            .tag{
                                position: absolute;
                                top: 5px;
                                background: rgb(90,171,25);
                                border-radius: 4px;
                                color: $k3;
                                font-weight: 400;
                                padding: 2px 10px ;
                                left: 7px;
                                font-size: 12px;

                            }
                                padding: 10px;
                                background: $k3;
                                display: flex;
                                .igm{
                                    width: 45%;
                                }
                                .dets{
                                    display: flex;
                                    flex-direction: column;
                                    width: 50%;
                                    .pro-name{
                                        color: $k9;
                                        font-size: 13px;
                                        font-weight: 500;
                                    }
                                
                                    
                                    .price{
                                        display: flex;
                                        margin-top: 10px;
                                        .new{
                                            font-size: 16px;
                                            font-weight:500;
                                            color: $k7;
                                        }
                                        .old{
                                            text-decoration: line-through;
                                            font-size: 14px;
                                            font-weight: 400;
                                            color: $k6;
                                            margin-left: 15px;
                                        }
                                    }
                                
                                
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}