.cart-home{
    width: 100vw;
    height: 300px;
    background:linear-gradient(230deg, rgba(0,0,0,0.6   ), rgba(0,0,0,0.7)),  url(../asset/img/carbg.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .inf{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .tt{
            font-size: 60px;
            font-weight: 500;
            color: $k3;
        }
        .breadcrumb{
            .breadcrumb-item{
                font-size: 14px;
                color: $k11;
                a{
                    color: $k11;
                }
                &.act{
                    color: $k3;
                }
            }
        }
    }
}
.cartable{
     font-family: 'Rubik', sans-serif;
    margin-top: 100px;
    .bnd{
        display: flex;
        // width: 2000px;
    }
    .my-tab{
        min-width: 700px;
        thead{
            border: none !important;
            tr{
                th{
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
        .item{
            td{
                position: relative;
                 .ctb{
              position: absolute;
              top: 50%;
              left:50%;
              transform:translate(-50%,-50%);
          }
                 .ct2{
              position: absolute;
              top: 50%;
            //   left:50%;
              transform:translateY(-50%);
          }
            }
        }
        .rmv{
         
            .bx{
                font-size: 25px;
                color: $k6;
            }
            
        }
        .product{
            width: 250px;
             .gd{

                    display: flex;
                    align-items: center;
                    border-bottom: solid 1px rgba($k11,0.1);
                    padding: 13px 0px;
                    &:last-child{
                        border-bottom: none;
                    }
                    img{
                        width: 65px;
                        height: 65px;
                        margin-right: 10px;
                    }
                    .det{
                        display: flex;
                        flex-direction: 
                        column;
                        // width: 150px;
                        // margin-left: auto;
                        .name{
                            font-size: 14px;
                            font-weight: 400;
                        }
                    
                        .pri{
                            color: $k6;
                            font-size: 13px;
                        }
                        .quat{
                            font-size: 13px;
                            color: $k6;
                        }
                    }
                    .rmv{
                        margin-left: auto;
                        i{
                            font-size: 20px;
                            cursor: pointer;
                        }
                    }
                }
        }
        .price{
            font-weight: 500;
        }
        .quantity{
            .qbox{
                border: 1px solid #ccc;
                padding:3px 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 3px;
                .bts{
                    border: none;
                    box-shadow: none;
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        color:lighten($k4, 50%);
                        font-size: 20px;
                        font-weight: 400;
                        display: flex;
                    }
                }
                .amt{
                    padding: 0px;
                    width:25px;
                    height:25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 17px;
                    border: none;
                    margin-left: 10px;
                    &:focus{
                        outline: none;
                    }
                }

            }
        }
    }
    .foot{
        background: #efefef;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
        padding-top:20px ;
        padding-bottom:20px ;
        .tot{
            margin-bottom: 20px;
            
            display: flex;
            justify-content: space-between;
            .tx{
                font-size: 20px;
                font-weight: 500;

            }
            .amt{
                font-size: 18px;
                font-weight: 500;
            }
        }
        .coupon{
            display: flex;
            margin-left: auto;
            justify-content: center;
            align-items: center;
            @media (max-width:500px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left: unset;
               
            }
            .cp{
                margin-right: 10px;
                font-weight: 500;
                @media (max-width:500px) {
                    margin-bottom:15px ;
                    margin-right: unset;
                }
                
            }
            .cpcd{
                border: 1px dashed #ccc ; 
                padding: 10px 10px;    
                margin-right: 20px;
                font-size: 13px;
                color: #7777;
                border-radius: 3px;
                  @media (max-width:500px) {
                    margin-bottom:15px ;
                    margin-right: unset;
                }
                &:focus{
                    outline: none;
                }
            }
            .cpbt{
                border: 1px solid transparent ; 
                padding: 10px 10px;  
                background: $k1;
                font-size: 13px;
                color: $k10;
                border-bottom: 3px;
                border-radius: 3px;
                font-weight: 500;
            }

        }
        .nact{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            @media (max-width:350px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left: unset;
               
            }
            .lk{
                display: flex;
                font-weight: 500;
                padding: 10px 20px;
                background: $k2;
                font-size: 13px;
                color: $k4;
                justify-content: center;
                align-items: baseline;
                border-radius: 3px;
                   @media (max-width:500px) {
                    margin-bottom:15px ;
                    margin-right: unset;
                }
                
            }
        }
    }
    .tick{
        @media (min-width:1000px) {
            
            padding: 0px 30px;
        }
        @media (max-width:999px) {
    margin-top: 30px;            
        }
    }
    .sumary{
        position: relative;
        background: #efefef;
        padding: 25px 25px;
         font-family: 'Rubik', sans-serif !important;
        //  @media (max-width:999px) {
        //      padding: 10px;
        //  }
        &::after{
            content: "";
            background-image: url(../asset/img/dec2.webp);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 6px;
            background-repeat: repeat-x;
        }
        &::before{
             content: "";
            background-image: url(../asset/img/dec2.webp);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 6px;
            transform: rotate(180deg);
            background-repeat: repeat-x;
        }
        .bx{
            width: 100%;
            .h4{
                font-weight:500;
                font-size: 28px;
                margin-bottom: 10px;
                font-size: 25px;
                 font-family: 'Rubik', sans-serif;
                
            }
            .sty{

            }
            .mid{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                 font-family: 'Rubik', sans-serif;
                .itma{
                    display: flex;
                    flex-direction: column;
                     margin-bottom: 15px;
                      border-bottom: solid 1px #ccc;
                     padding: 15px 0px;
                    span{
                        display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    .lt{
                        font-size: 16px;
                    }
                    .amt{
                       font-weight: 500;
                        font-size: 14px;
                    }
                    }
                    .stry{
                        font-size: 13px;
                        color: $k11;
                    }
                }
                .itm{
                    border-bottom: solid 1px #ccc;
                    padding: 15px 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;
                    .lt{
                        font-weight: 500;
                        font-size: 16px;
                    }
                    .amt{
                        font-weight: 500;
                        font-size: 14px;
                    }
                    .stry{
                        display: inline-block;
                    }
                }
                .chekout{
                    padding: 15px 20px;
                    background: $k1;
                    margin: 10px  0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    border-radius: 3px;
                        font-weight: 500;

                    color:$k3;
                    transition: all ease-in-out .4s;
                    &:hover{
                        background: $k2;
                        color: $k4;
                    }
                    
                }
            }
        }
    }
}
